version: 2
jobs:
  build:
    machine:
      image: 'ubuntu-1604:201903-01'
    branches:
      only:
        - master
        - develop
        - circleci
        - /feat-.*/
    steps:
      - checkout
      - run: curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
      - run: sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
      - run: sudo apt-get update
      - run: apt-cache policy docker-ce
      - run: sudo apt-get install -y docker-ce
      - run: docker login --username $DOCKER_USERNAME --password $DOCKER_PASSWORD
      - run: docker build -t afloesch/indorphins:$(git tag --list | head -n 1) .
      - run: docker push afloesch/indorphins:$(git tag --list | head -n 1)